In [2]:
import numpy as np
import pandas as pd

In [8]:
d = {'a':[1,2,np.nan],'b':[5,np.nan,np.nan],'c':[4,4,5]}
d

{'a': [1, 2, nan], 'b': [5, nan, nan], 'c': [4, 4, 5]}

In [10]:
df = pd.DataFrame(d)
df

     a    b  c
0  1.0  5.0  4
1  2.0  NaN  4
2  NaN  NaN  5

In [12]:
#podemos tratar dados ausentes com alguns metodos
#o metodo dropna exclui qualquer linha ou coluna que tenha um dado ausente
#para obter a coluna devemos colocar axis = 1
df.dropna()

     a    b  c
0  1.0  5.0  4

In [13]:
#podemos determinar a quantidade de NaNs aceitaveis, por exemplo
df.dropna(thresh=2)

     a    b  c
0  1.0  5.0  4
1  2.0  NaN  4

In [14]:
#podemos substituir os NaNs do noso DataFrame com o metodo fillna
df.fillna(value = "Preencher")

           a          b  c
0          1          5  4
1          2  Preencher  4
2  Preencher  Preencher  5

In [17]:
#existem metodos que podem ser usados para preencher os vazios, por exemplo 
df.fillna(method = 'ffill')#metodo ffil preenche com o valor do numero acima

     a    b  c
0  1.0  5.0  4
1  2.0  5.0  4
2  2.0  5.0  5