In [1]:
import numpy as np
import pandas as pd

In [6]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]

In [9]:
#o metodo zip pega 2 listas e cria uma tupla a partir delas
multilevel = list(zip(outside,inside))
multilevel

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
#cria multinivel para o index, isso ser√° usado no Data Frame como mais uma forma de criar labels
multilevel = pd.MultiIndex.from_tuples(multilevel)
multilevel

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
#criando um data frame com multinivel
df = pd.DataFrame(np.random.randn(6,2),multilevel,columns=['A','B'])
df

             A         B
G1 1 -1.305919 -0.962742
   2 -0.451234 -0.326911
   3  0.565272  1.243959
G2 1  1.947799  0.432661
   2  2.566735  0.484516
   3  0.225310 -0.073333

In [17]:
#Podemos dar nome para esses grupos
df.index.names=['Nome','Numero']
df

                    A         B
Nome Numero
G1   1      -1.305919 -0.962742
     2      -0.451234 -0.326911
     3       0.565272  1.243959
G2   1       1.947799  0.432661
     2       2.566735  0.484516
     3       0.225310 -0.073333

In [25]:
#para retirarmos valores de um DataFrame multinivel usamos o metodos xs
df.xs('G1')

               A         B
Numero
1      -1.305919 -0.962742
2      -0.451234 -0.326911
3       0.565272  1.243959

In [27]:
#para retirarmos valores dos niveis internos podemos especificar quais indices queremos usar
df.xs(1,level = 'Numero')

             A         B
Nome
G1   -1.305919 -0.962742
G2    1.947799  0.432661