In [1]:
import numpy as np
import pandas as pd

In [4]:
#DataFrame é usado para criar tabelas
np.random.seed(101)#para obter sempre os mesmos resultados no random
df = pd.DataFrame(np.random.randn(5,4),index = "A B C D E".split(),columns = "W X Y Z".split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
#Voce retira numeros como se fossem matrizes
df['W']#As colunas sao Series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [33]:
#para criar uma nova coluna podemos fazer uma serie e adiciona-la
df['novo'] = pd.Series(np.random.randn(5),index = "A B C D E".split())
df['novo']

A    0.386030
B    2.084019
C   -0.376519
D    0.230336
E    0.681209
Name: novo, dtype: float64

In [27]:
#para deletar podemos usar o metodo a seguir
df.drop('novo',axis=1)#axis=0 refere-se aos indices e axis=1 refere-se as colunas

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
#o metodo drop nao é uma atribuiçao, portanto novo continua em df
df

          W         X         Y         Z     novo2      novo
A  2.706850  0.628133  0.907969  0.503826  1.024810  0.386030
B  0.651118 -0.319318 -0.848077  0.605965 -0.925874  2.084019
C -2.018168  0.740122  0.528813 -0.589001  1.862864 -0.376519
D  0.188695 -0.758872 -0.933237  0.955057 -1.133817  0.230336
E  0.190794  1.978757  2.605967  0.683509  0.610478  0.681209

In [35]:
#para deleta-lo temos 2 maneiras
df['novo2'] = pd.Series(np.random.randn(5),'A B C D E'.split())
df = df.drop('novo',axis=1)#atribuir df ao df drop
df.drop('novo2',axis=1,inplace = True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
#para extrair valores no indice do DataFrame podemos utilizar o metodo loc
#o metodo pode ser utilizado para obter varrios indices de uma vez, é so passar como parametro uma lista 
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [39]:
#o metodo iloc passa parametros com notação de numpy
df.iloc[2:,1:3]

          X         Y
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967

In [40]:
#podemos estabelecer codições de retorno para o nosso dataframe
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
#podemos ser mais especificos tambem
df[df['W']>0]['Y']#passa os valores da coluna Y nos quais o valor da coluna W é maior que 0

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [42]:
#para obter mais de uma condição podemos usar o metodo & (and nao funciona porque ele so compara valores unicos, não listas)
#podemos utilizar o metodo or com | também
df[(df['W']>0) & (df['Y']<1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [48]:
#podemos resetar o index usando o metodo abaixo, lembrando que ele nao atribui valores, devemos usar os 2 metodos descritos acima para isso
df.reset_index(inplace=True)

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [54]:
#podemos trocar o index tambem
estados = 'SP MG RJ AM RR'.split()
df['Estados'] = estados
df.set_index("Estados",inplace=True)

In [55]:
df

        index         W         X         Y         Z
Estados
SP          A  2.706850  0.628133  0.907969  0.503826
MG          B  0.651118 -0.319318 -0.848077  0.605965
RJ          C -2.018168  0.740122  0.528813 -0.589001
AM          D  0.188695 -0.758872 -0.933237  0.955057
RR          E  0.190794  1.978757  2.605967  0.683509